{% extends 'base.html' %}

{% block title %}
Портфолио
{% endblock title %}

{% block mainbody %}
<main role="main">

    <div class="album text-muted">
        <div class="container">
            <div class="row">
            {% for portfolio in object_list  %}
            <div class="card">
                <img src="{{portfolio.image.all.first.image.url}}" alt="Card image cap">
                <p class="card-text">{{portfolio.description|striptags|truncatewords:20}}</p>
                <a class="btn btn-dark" href="{{portfolio.slug}}" role="button">Подробнее</a>
            </div>
            {% empty %}
            <h2>HELL NA!</h2>
            {% endfor %}       
            </div>      
        </div>
    </div>

</main>
{% endblock mainbody %}
