{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Детальная страница | {{object.title}}
{% endblock title %}


{% block mainbody %}
<div class="slider">
     {% for image in object.image.all %}
    <input type="radio" name="slide_switch" id="id{{image.id}}" checked="checked"/>
    <label for="id{{image.id}}">
        <img src="{{image.image.url}}" width="100" height="60" />
    </label>
    <img src="{{image.image.url}}" />
    {% endfor %}    
</div>
<main role="main">
<div class="album">
    <div class="container">
    <div class="row">
        
        <div class="col-sm-12 blog-main">

            <div class="blog-post">
                     
                <h2 class="blog-post-title">{{object.title}}</h2>
                <p class="blog-post-meta">Опубликовано: {{object.created| date:"d/m/y"}}
                <br>Последние изменение: {{object.modified| date:"d/m/y"}}</p>
                <hr>
                    <div class="description">
                        {{object.description|safe}}
                    </div>
                    
                    
            </div>
            <a class="btn btn-primary" href={{object.link}}>Посмотреть проект</a>
            <!-- /.blog-post -->

            

        </div>
        <!-- /.blog-main -->

                   

    </div>
    </div>
    <!-- /.row -->
    </div>

</main>
<!-- /.container -->
   {% endblock mainbody %}
    
