{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    {{object.title}}
{% endblock title %}


{% block mainbody %}
    <h6>{{object.id}}</h6>
    <h2>{{object.title}}</h2>
    <h3>slug:{{object.slug}}</h3>
    <h4>created: {{ object.created }} </h4>
    <h4>modified: {{ object.modified}} </h4>
    <p>{{object.description|safe}}</p>
    <a href={{object.link}}>{{object.link}}</a>
</br>
    {% for image in object.image.all  %}
    <a href={{image.image.url}} target="_blank"><img src="{{image.image.url}} " width="250" height="250"/></br></a>
        
    {% endfor %}
        

{% endblock mainbody %}
    
